body {
	overflow:hidden;
}

.text {
	font-size:40px;
	text-align:center;
	color:red;
}

.wall {
	background: black;
	position: absolute;
	display:block;
	box-shadow: rgba(0,0,0,0.3) 3px -1px 3px 2px;
}

.circle {
	height:50px;
	width:50px;
	background:lime;
	border-radius:100%;
	position:absolute;
	top:0%;
	left:0%;
	z-index:1;

}

.circle.hitbox {
	content:"";
	background: rgba(200, 200, 200, 0.3);
	backdrop-filter:blur(3px);
	height:inherit;
	width:inherit;
	position:absolute;
	z-index:-1;
}

.tilt {
	font-size:25px;
	text-align:left;
	left: 25px;
	position:absolute;
	z-index:2;
	top:25px;
	background:rgba(150,150,150,0.1);
	backdrop-filter: blur(1px);
	border-radius:5px;
}

.background {
	height: 10000px;
	width: 10000px;
	position:absolute;
	background:rgb(100,100,100)
}